.TodoItem{
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4d4d; 
    font-weight: 300;
    font-size: 24px;
    border-bottom: 1px solid #eeeeee;
    padding:  10px 5px;
    display: flex;
}
.TodoItem:last-child{
    border-bottom: none;
}
.TodoItem > p {
    margin: 0 0 0 10px;
}
.TodoDone p{
    text-decoration: line-through;
    opacity: .3;
}